<h1>Adoption Application for <%= @application.shelter.name %></h1>

Applicant name: <%= @application.first_name%> <%= @application.last_name %>

Address: <%= @application.address %> <%= @application.address2 %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %>