<h1>Adoption Application for <%= @application.shelter.name %></h1>

<p>Applicant name: <%= @application.first_name%> <%= @application.last_name %></p>

<p>Address: <%= @application.address %> <%= @application.address2 %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %></p>

<p>Why we'd make a good home for these pet(s): <%= @application.description %></p>

<section id="pets">
  <p>Pets on application:</p>
    <% @pets.each do |pet| %>
      <li><%= pet.name %></li>
    <% end %>
</section>